table{
   margin: 25px 0;
   border-collapse: collapse;
   table-layout: fixed;
   width: calc(100% - 50px);
}

tr:nth-child(even) {
    background-color: #34343715;
}

thead tr th{
    background: #343437;
    border-right: 2px solid white;
    color: white;
    padding: 10px 35px;
    font-weight: 500;
    font-size: 15px;
}

tbody tr {
    border-bottom: 1px solid #34343737;
}

tbody tr td{
    text-align: center;
    padding: 10px 0;
}